@import 'nib'

global-reset()

main-color = #fa5b4d
background-color = #faf9f0

@font-face
    font-family Paytone
    font-style normal
    font-weight 400
    src local('Paytone One'), local('PaytoneOne'), url(http://themes.googleusercontent.com/static/fonts/paytoneone/v5/D_d4Nj6jwG2cmUCLYeqgKbrIa-7acMAeDBVuclsi6Gc.woff) format('woff')

body
    font-family "Georgia"
    background-color background-color
    color #444
    font-size 22px;

[ng\:cloak], [ng-cloak], .ng-cloak
    display none !important

a
    color grey

h1
    width 550px
    margin 0 auto
    font-family Paytone, sans-serif
    font-size 75px
    text-align center
    line-height: 1.2em
    margin-top 25px
    margin-bottom 25px
    background url(image/parachuting.jpg) no-repeat
    background-clip text
    color transparent
    background-size 100%

    a
        text-decoration none
        color transparent

.main-content
    width 600px
    margin 25px auto
    margin-top 25px

    li
        padding 5px

    a
        text-decoration none
        color #26ADE4

.tweeter
    width 200px
    margin 0 auto
    margin-top 25px

footer p
    position absolute
    bottom 0px
    padding-top 25px
    padding-bottom 25px
    width 100%
    text-align center
    font-size 12px

.animate-enter
    transition 1s linear all
    opacity 0

.animate-enter.animate-enter-active
    opacity 1

.status
    background-image url('image/ajax-loader.gif')
    background-position left center
    background-repeat no-repeat
    padding-left 25px

abbr
    border-bottom dotted 1px
    cursor help

.clicked
    font-weight bold

@media only screen and (min-device-width: 320px) and (max-device-width: 568px)
    h1
        font-size 40px
        width 300px

    .main-content
        font-size 20px
        width 300px

