extend layout
block content
    .container(ng-controller="TwitterCtrl")
        section.main-content
                ul(ng-show="tweets")
                    li(ng-repeat="tweet in tweets") {{tweet.text}}
                div(ng-hide="tweets", ng-class="{error: !loadingTweets }")
                    | {{statusMessage}}

