!!!5
html
    head
        title #{title}
        link(rel="stylesheet", href="/style/main.css")
    body
        header
            h1 #thingsiwouldneverdo
        .container
            section.main-content
                block content
        footer
            p Copyright &copy; Momentum Labs 2013
