!!!5
html
    head
        title #{title}
        link(rel="stylesheet", href="/style/main.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    body
        a(href="https://github.com/sebinsua/things-i-would-never-do")
            img(style="position: absolute; top: 0; left: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png", alt="Fork me on GitHub")

        header
            h1 things I would never do
        
        block content
        
        footer
            p
                |  Copyright &copy; 
                a(href="http://momentumlabs.io") Momentum Labs
                |  2013 &middot; 
                abbr(title="This is just a holding page. We are coming soon.") ?
        script(data-main="behaviour/main", src="behaviour/vendor/require.js")
