!!!5
html
    head
        title #{title}
        link(rel="stylesheet", href="/style/main.css")
    body
        header
            h1 #thingsiwouldneverdo
        .container(ng-controller="Tweets")
            section.main-content
                block content
        footer
            p Copyright &copy; Momentum Labs 2013
        script(data-main="behaviour/main", src="behaviour/vendor/require.js")
