ul(ng-show="tweets")
    li(ng-repeat="tweet in tweets")
        a(href="http://twitter.com/{{tweet.user.screen_name}}") {{tweet.user.name}}
        |  {{tweet.text}}

div(ng-hide="tweets", ng-class="statusClass")
    | {{statusMessage}}

div.tweeter
    a(href="https://twitter.com/intent/tweet?button_hashtag=thingsiwouldneverdo", class="twitter-hashtag-button", data-size="large", data-related="bemomentum,thingsiwouldneverdo") Tweet #thingsiwouldneverdo
